@model List<Voucher>
@{
    ViewData["Title"] = "AdminHome";
}

<h1>AdminHome</h1>

<a asp-action="AddNewVoucher" asp-controller="Admin">Add New Voucher</a>
<br />
<a asp-action="SalesInfo" asp-controller="Admin">Sales Information</a>
<br />


<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">

    @foreach (var singlevoucher in Model)
    {
        <div style="border: 1px solid #ddd; padding: 10px; margin: 10px; text-align: center; width: 200px;">
            <img src="@singlevoucher.VoucherLink" width="150px" height="150px" />
            <h4>@singlevoucher.VoucherName</h4>
            <p>Type: @singlevoucher.VoucherValue</p>
            <p>Price: @singlevoucher.VoucherPrice</p>
            <form method="post"><button class="btn-info" asp-action="deleteVoucher" asp-controller="Admin" asp-route-VoucherID="@singlevoucher.VoucherID">Delete</button></form>
        </div>
    }

</div>